.carousel-item::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
}





.bt {
    
    
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
   border: none;
   outline: none;
   font-weight: 100;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    
   }
   
   .bt::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
 .bt:hover::before {
    width: 105%;
   }
   
   .bt:hover {
    color: #111;
   }
   