.ss {
  border-radius: 2%;
}

:root {
  --swiper-navigation-color: yellow ;
  --swiper-pagination-color: yellow ;
}


.des{
   
   border-top:5px solid orchid; 
   border-bottom:5px solid #00FF00;
   border-left: 5px solid orchid;
   border-right: 5px solid #00FF00; 
  

}


.client2{
  background-image: url('../photo/cl.svg');
  
}


.test{
  font-family: 'Acme', sans-serif;
 }
  
 .free{
  font-family: 'Acme', sans-serif;
 }


.gallery{
  background: url('../photo/sw.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





 .ii{
  background: url('../photo/abg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
  background-position: center;
  padding: 120px;
 }

 .ii span{
  user-select: none;
  cursor: pointer;
  margin: 0px 20px;
 }

 
.bs{
  border: 1px solid red;

}

.blog{
  background: url('../photo/blog.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "▶️";
}

details[open] > summary::before {
  content: "🔽";
}


details {
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.5rem;
  transition: all 1s ease;
  user-select: none;
  cursor: pointer;
}

details[open] > summary {
  margin-bottom: 0.1rem;
}


.b3{
  border: none;
  outline: none;

}



.bb {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(340deg 100% 16%) 0%,
     hsl(340deg 100% 32%) 8%,
     hsl(340deg 100% 32%) 92%,
     hsl(340deg 100% 16%) 100%
   );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .bb:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 .bb:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 .bb:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 .bb:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 .bb:focus:not(:focus-visible) {
  outline: none;
 }
 
 .ss{
  transition: all 0.8s;
  
 }

 .ss:nth-child(3){
  color:  #e95950;
 }

 .ss:nth-child(1){
  color:  #3b5998;
 }
  

 
.ss:hover{
  transform: translate(0px,-8px) scale(1.2,1.2);
  
}


.gg img{
  border-radius: 2%;
  transition: all 1s;
}


.gg img:hover{
  transform: scale(1.1,1.1) rotate(2deg);
  
}